.footer {
  width: 100%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 3rem;
}
.footer-link {
  list-style: none;
  font-family: Poppins Semi Bold, sans-serif;
  line-height: 1.7 rem;
}

.footer .head {
  font-family: Poppins Semi Bold, sans-serif;
  color: #221b1d;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;
}

.footer-link a {
  text-decoration: none;
  width: 5.125rem;
  color: #221b1d;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-logo-wrapper {
  width: 100%;
}
.footer-logo-wrapper img {
  max-width: 100%;
}
.social-parent {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  filter: brightness(0);
}

.social-parent-tiktok {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding-top: 1rem;
}
.social-parent-pinterest {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding-top: 1rem;
  filter: brightness(0);
}

.contact-heading {
  width: 8.8125rem;
  color: #221b1d;
  font-family: Poppins Medium, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-parent {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.contact-parent-email {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding-top: 1rem;
}

.contact-parent-phone {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding-top: 1rem;
}

.social-links img:hover {
  transform: scale(1.1);
}

.social-tiktok img:hover {
  transform: scale(1.1);
}

.social-pinterest img:hover {
  transform: scale(1.1);
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
  text-decoration: none;
  color: #333;
}


.contact-location img:hover {
  transform: scale(1.2);
}
.contact-emial img:hover {
  transform: scale(1.2);
}
.contact-phone img:hover {  
  transform: scale(1.2);
}

::selection {
  background: blue !important;  
  color: white !important;
}
